body {
    background-size: cover; 
    background-position: center;
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-image:url('../Irudiak/11200299.gif');
    background-size: 6%;
    
}

.musika-container {
    margin-bottom: 20px; 
}

.grid-container {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    padding: 20px; 
    flex-wrap: wrap; 
}

.zutabe1, .zutabe2 {
    background-color: #fff9a2; 
    border: dashed 2px #ccc; 
    padding: 20px;
    text-align: center; 
    width: 600px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.742); 
    border-radius: 40px; 
}

.zutabe2 {
    display: flex; 
    flex-direction: column; 
    height: auto; 
}

/* Pailazoaren irudiari tamaina eman */
body img {
    height: 300px; 
    width: auto;  
}

/* Animazioaren urratsak definitzen ditu. Kasu horretan, irudia 0 gradutik 360 gradura pasarazten du. */
@keyframes biratu {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Irudiari "biratu" animazioa aplikatzen dio. Animazioak 2 segundo iraungo du, "linear" motakoa izango da (azeleraziorik gabe) eta amaigabe errepikatuko da. */
.zutabe1 img {
    animation: biratu 2s linear infinite;
}

@keyframes kolore {
    0% {
        color: red; /* Hasierako kolorea */
    }
    25% {
        color: rgb(255, 251, 0); /* Erdiko kolorea 1 */
    }
    50% {
        color: rgb(59, 201, 23); /* Erdiko kolorea 2 */
    }
    75% {
        color: rgb(106, 23, 201); /* Erdiko kolorea 3 */
    }
    100% {
        color: rgb(23, 121, 201); /* Amaierako kolorea */
    }
}

.zutabe1 h2 {
    animation: kolore 3s linear infinite; 
}

.kontagailua {
    font-size: 2em; 
    font-weight: bold; 
    color: #333; 
}

.zutabe2 img {
    height: 90px; 
    width: 95px; 
}

.errenkada1, .errenkada2, .errenkada3 {
    width: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border-bottom: 1px solid #333; 
}

.errenkada1:last-child, .errenkada2:last-child, .errenkada3:last-child {
    border-bottom: none; 
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #ffcc00; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff9900; 
}
